
P6Claybuilding/Assets/Prefabs/FixedPivot.fbx

P6Claybuilding/UserSettings/Layouts/default-6000.dwlt

P6Claybuilding/UserSettings/EditorUserSettings.asset

P6Claybuilding/Assets/Raygeas/Grasslands - Stylized Nature/Assets/Textures/Clay/clay_plaster_diff_4k.png

P6Claybuilding/Assets/Raygeas/Grasslands - Stylized Nature/Assets/Textures/Clay/clay_plaster_nor_gl_4k.png

*.abc
